.userss {
    display: block;
    display: inline-block;
    margin: 0px 3px;
    position: relative;
    z-index: 999;
}

/* ===[ For demonstration ]=== */

.userss { margin-top: 0px }

/* ===[ End demonstration ]=== */

.userss .dropdown_button3 {
    cursor: pointer;
    width: auto;
    display: inline-block;
    font-weight: bold;
    text-decoration: none !important;
      padding: 4px 5px;

}

.userss input[type="checkbox"]:checked +  .dropdown_button3 {
    padding: 4px 5px;
}

.userss input[type="checkbox"] + .dropdown_button3 .arrow3 {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.userss input[type="checkbox"]:checked + .dropdown_button3 .arrow3 { border-color:  transparent transparent transparent }

.userss .dropdown_content3 {
    position: absolute;
    border: 1px solid #fff;
    padding: 0px;
    margin: 0;
    display: none;
    padding: 7px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
    box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
     font-size: 12px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
     border-radius: 0 0 4px 4px;
     min-width: 140px;
    text-shadow: 1px 1px 0px #fff;
}

.userss .dropdown_content3 li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.userss .dropdown_content3 li:hover {
text-shadow: 1px 1px 0px #fff;
color: #d32d41;

}

.userss .dropdown_content3 li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: black;
    text-decoration: none !important;
    white-space: nowrap;
}

.userss .dropdown_content3 li:hover a {
text-shadow: 1px 1px 0px #fff;
color: #d32d41;
    text-decoration: none !important;
}

.userss input[type="checkbox"]:checked ~ .dropdown_content3 { display: block }

.userss input[type="checkbox"] { display: none }
		
		
		
		
		