
.thead_collapsed {
   opacity: 0.4;
}

.thead {
   -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
   -o-transition: all 250ms ease-in-out;
   transition: all 250ms ease-in-out;
}

.backimage {
	background: #22242d;
	text-shadow: 1px 1px 0px #191a21;
	color: #fff;
	border: 1px solid #191a21;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
	box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: 0px;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
    height: 60px;
    margin: auto auto;
}

.prorstat {
	background: #d5eaa1;
	text-align: center;
	padding: 4px  8px;
	border: 1px solid #b3cc7c;
	text-shadow: 1px 1px 0px #e9ffa4;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0 0 1px 1px #e9ffa4;
	-moz-box-shadow: inset 0 0 1px 1px #e9ffa4;
	box-shadow: inset 0 0 1px 1px #e9ffa4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: -8px;
	color: #4f6023;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
    width: 150px;
    margin: auto auto;
}

.menu {
    	text-shadow: 1px 1px 0px #191a21;
    	color: #fff;
    	margin: auto;
        padding: 0;
        padding: 2px;
        height: 38px;
}

.menu ul {
    	list-style: none;
    	text-align: left;
    	margin: 0;
        padding: 10px 0;
        font-size: 13px;
        font-weight: bold;
}

.menu ul a:link, .menu ul a:visited {
        padding: 10px 20px;
      	color: #c2c5d3;
      	text-shadow: 1px 1px 0px #1f2027;
}

.menu ul a:hover, .menu ul a:active {
    	color: #fff;
        text-shadow: 1px 1px 0px #1f2027;
}

.menu li {
    	display: inline-block;
    	padding: 0;
    	margin: 0;
}

:focus {
	outline: none;
}

.like {
	background: #d32d41;
	text-shadow: 1px 1px 0px #9e2635;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0 0 1px 1px #f14a5e;
	-moz-box-shadow: inset 0 0 1px 1px #f14a5e;
	box-shadow: inset 0 0 1px 1px #f14a5e;
	border: 1px solid #9e2635;
	color: #fff;
	padding: 3px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	font-family: Source Sans Pro,Tahoma,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;
	font-style: normal;
}

#mbox {
	background: #fff;
	text-align: left;
	line-height: 1.4;
	margin: auto auto;
	border: 1px solid #e1e1e1;
	margin-bottom: 90px;
	color: #333;
  	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    -webkit-box-shadow: 0px 2px 5px -1px #adaeaf;
   -moz-box-shadow: 0px 2px 5px -1px #adaeaf;
    box-shadow: 0px 2px 5px -1px #adaeaf;
}

.fixed {
	display: block;
	cursor: pointer;
    color: #384247;
}

.fluid {
	display: block;
	cursor: pointer;
  	color: #384247;
}

#mainwidth {
	text-align: left;
	line-height: 1.4;
	margin: auto auto;
	margin-top: 0px;
	
	width: 90%;
}

#portal #nav-portal a,
#forums #nav-forums a,
#search #nav-search a,
#member #nav-member a,
#calendar #nav-calendar a,
#help #nav-help a {
    text-shadow: 1px 1px 0px #191a1e;
    color: #fff;
    width: 100%
    display: inline;
}

.fstat {
	background: #d32d41;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 1px 1px 0px #9e2635;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0 0 1px 1px #f14a5e;
	-moz-box-shadow: inset 0 0 1px 1px #f14a5e;
	box-shadow: inset 0 0 1px 1px #f14a5e;
	border: 1px solid #d32d41;
	padding: 3px 7px;
	-webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 0px 0px 1px;
	-moz-box-shadow: inset rgba(255,255,255,0.1) 0px 0px 0px 1px;
	box-shadow: inset rgba(255,255,255,0.1) 0px 0px 0px 1px;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.05)), color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0) 100%);
	
	color: #fff;
	width: 60px;
	font-size: 14px;
	font-style: normal;
}

.pagination2 a:link, .pagination2 a:visited {
  background: #d5eaa1;
   color: #4f6023;
   text-align: center;
   padding: 8px 18px;
   margin-bottom: 15px;
   border: 1px solid #b3cc7c;
   text-shadow: 1px 1px 0px #e9ffa4;
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   -webkit-box-shadow: inset 0 0 1px 1px #e9ffa4;
   -moz-box-shadow: inset 0 0 1px 1px #e9ffa4;
   box-shadow: inset 0 0 1px 1px #e9ffa4;
   font-size: 12px;
   cursor: pointer;
   padding: 2px 6px;
   transition: all 0.5s ease;
  	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ficons {
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

#breadcrumb {
    color: #556571;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
    overflow:hidden;
    margin:0px;
    padding:2px;
}

#breadcrumb li {
    list-style-type:none;
    float:left;
    padding-left:10px;
}

#breadcrumb a {
    height:30px;
    display:block;
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#576470;
}

.thead .expcolimage img {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -ms-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
}

.thead:hover .expcolimage img {
    opacity: 1;
}

.stat {
	background: #d5eaa1;
	text-align: center;
	padding: 4px  8px;
	border: 1px solid #b3cc7c;
	text-shadow: 1px 1px 0px #e9ffa4;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0 0 1px 1px #e9ffa4;
	-moz-box-shadow: inset 0 0 1px 1px #e9ffa4;
	box-shadow: inset 0 0 1px 1px #e9ffa4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: -8px;
	color: #4f6023;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
}

.border {
    border-bottom: 1px dashed #ccc;
      padding-bottom: 8px;
      padding-top: 8px;
}

.arrow_box {
	position: relative;
    padding: 10px;
  	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 1px;
	width: 1px;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
    border-width: 30px;
	margin-top: -30px;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 31px;
	margin-top: -31px;
}

.navMenu2 {
	background: #0e2431;
	border: 1px solid #060f17;
	text-shadow: 1px 1px 0px #060f17;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0 0 1px 1px #284653;
	-moz-box-shadow: inset 0 0 1px 1px #284653;
	box-shadow: inset 0 0 1px 1px #284653;
	overflow: hidden;
	padding: 10px;
	margin: auto auto;
	text-align: left;
	-moz-box-shadow: 0 0 30px 5px #15191c;
	-webkit-box-shadow: 0 0 30px 5px #15191c;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	color: #fff;
    font-family: Source Sans Pro,Tahoma,Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
	font-style: normal;
}

.profilem {
	background: #fff;
	width: 200px;
	display: none;
	text-align: left;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 40px #000;
	-moz-box-shadow: 0 0 40px #000;
	-o-box-shadow: 0 0 40px #000;
	-ms-box-shadow: 0 0 40px #000;
	box-shadow: 0 0 40px #000;
	border: 8px solid #232a2d;
}

.profilem a.close-modal {
	background: url(../../../images/close.png) no-repeat 0 0;
	width: 30px;
	position: absolute;
	top: -6.5px;
	right: -6.5px;
	display: block;
	height: 30px;
	text-indent: -9999px;
}

.profilem-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -32px;
	margin-top: -32px;
	background: url(../../../images/spinner_big.gif) no-repeat center center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.navMenu {
	text-shadow: 1px 1px 0px #182328;
	padding: 10px;
	margin: auto auto;
	height: 15px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
}

.profiles {
	display: block;
	display: inline-block;
	margin: 0px 3px;
	position: relative;
}

/* ===[ For demonstration ]=== */

.profiles {
 margin-top: 50px
   z-index:10;
}

/* ===[ End demonstration ]=== */

.profiles .dropdown_button2 {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 5px;
    font-weight: bold;
    color: #fff;
    line-height: 16px;
    text-decoration: none !important;
    z-index: -99;
}

.profiles input[type="checkbox"]:checked +  .dropdown_button2 {
    color: white;
    padding: 4px 5px;
      z-index: -99;
}

.profiles input[type="checkbox"] + .dropdown_button2 .arrow2 {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
      z-index: -99;
}

.profiles input[type="checkbox"]:checked + .dropdown_button2 .arrow2 {
 border-color: white transparent transparent transparent
}

.profiles .dropdown_content2 {
    position: absolute;
    border: 1px solid #fff;
    padding: 0px;
    margin: 0;
    display: none;
    padding: 7px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
    box-shadow: rgba(0,0,0,0.3) 0px 1px 4px, inset rgba(255,255,255,0.13) 0px 1px 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
     font-size: 12px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
     border-radius: 0 0 4px 4px;
     min-width: 140px;
    text-shadow: 1px 1px 0px #fff;
      z-index: -99;
}

.profiles .dropdown_content2 li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
  
      z-index: -99;
}

.profiles .dropdown_content2 li:hover {
text-shadow: 1px 1px 0px #fff;
color: #d32d41;
}

.profiles .dropdown_content2 li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: black;
    text-decoration: none !important;
    white-space: nowrap;
      z-index: -99;
}

.profiles .dropdown_content2 li:hover a {
text-shadow: 1px 1px 0px #fff;
color: #d32d41;
    text-decoration: none !important;
      z-index: -99;
}

.profiles input[type="checkbox"]:checked ~ .dropdown_content2 {
 display: block
}

.profiles input[type="checkbox"] {
 display: none
}

.ui {
	color: #333;
	padding: 15px;
	text-shadow: 1px 1px 1px #fff;
	margin: 2px;
	text-align: center;
	font-family: Source Sans Pro;
	font-size: 14px;
	font-style: normal;
}

.proi {
	padding: 5px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
     overflow: hidden;
	font-family: Source Sans Pro;
    font-style: normal;
    font-size: 15px;
    color: #333;
    background: #f5f5f5;
	clear: both;
	overflow: hidden;
	border: 1px solid #e9e7e7;
	text-shadow: 1px 1px 0px #fff;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0 0 1px 1px #fff;
	-moz-box-shadow: inset 0 0 1px 1px #fff;
	box-shadow: inset 0 0 1px 1px #fff;
}

.buttons {
        cursor: pointer;
        color: #FFFFFF;
        text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.buttons:hover {
        cursor: pointer;
        color: #FFFFFF;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.clickedbuttons {
        cursor: pointer;
        color: #FFFFFF;
        text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.clickedbuttons:hover {
        cursor: pointer;
        color: #FFFFFF;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.backtrow {
	background: #fdfdfd;
	color: #333;
	padding: 5px;
	border: 1px solid #e5e5e5;
	text-shadow: 1px 1px 0px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	text-decoration: none;
	font-size: 13px;
}

legend {
    background: #d5eaa1;
    color: #4f6023;
      border: 1px solid #b3cc7c;
      text-shadow: 1px 1px 0px #e9ffa4;
    -webkit-box-shadow: inset 0 0 1px 1px #e9ffa4;
    -moz-box-shadow: inset 0 0 1px 1px #e9ffa4;
    box-shadow: inset 0 0 1px 1px #e9ffa4;
	padding: 0.2em 0.5em;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;	
	font-size: 12px;
}

fieldset {
	border: 1px dashed #e1dfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
}

#fadehover img {
opacity: .5;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

#fadehover img:hover{
opacity: 1;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

#bnav {
	background: #384247;
	border-top: 1px solid #232a2d;
	border-bottom: 1px solid #232a2d;
	text-shadow: 1px 1px 0px #fff;
	padding: 10px;
	margin: auto auto;
	height: 20px;
	font-size: 13px;
	font-style: normal;
}

#pm_notification {
	background: #d32d41;
	text-shadow: 1px 1px 0px #9e2635;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0 0 1px 1px #f14a5e;
	-moz-box-shadow: inset 0 0 1px 1px #f14a5e;
	box-shadow: inset 0 0 1px 1px #f14a5e;
	border: 1px solid #9e2635;
	display: inline-block;
	height: 10px;
	line-height: 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #b31616;
	padding: 4px 5px 4px 5px;
	
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}

a#pm_notification {
	text-shadow: 1px 1px 0px #9e2635;
	
	color: #fff;
	font-size: 14px;
	font-style: normal;
	text-decoration: none;
}

.menu2 {
color: #777777;
text-shadow: 1px 1px 0px #fff;
    	margin: auto;
        padding: 0;
}

.menu2 ul {
    	list-style: none;
    	text-align: left;
        font-size: 13px;
        font-weight: bold;
      	margin: 0;
        padding: 10px 0;
}

.menu2 ul a:link, .menu2 ul a:visited {
    	color: #384247;
        padding: 10px 20px;
        margin: -3px;
        margin-left: -1px;
}

.menu2 ul a:hover, .menu2 ul a:active {
    	color: #232a2d;
}

.menu2 li {
    	display: inline-block;
}


		