.modcp_nav_item {
	display: block;
	padding: 1px 0 1px 3px;
	background-repeat: no-repeat;
}

.modcp_nav_home {
	background-position: 0 0;
}

.modcp_nav_announcements {
	background-position: 0 -20px;
}

.modcp_nav_reports {
	background-position: 0 -40px;
}

.modcp_nav_modqueue {
	background-position: 0 -60px;
}

.modcp_nav_modlogs {
	background-position: 0 -80px;
}

.modcp_nav_editprofile {
	background-position: 0 -100px;
}

.modcp_nav_banning {
	background-position: 0 -120px;
}

.modcp_nav_warninglogs {
	background-position: 0 -140px;
}

.modcp_nav_ipsearch {
	background-position: 0 -160px;
}

.modqueue_message {
	overflow: auto;
	max-height: 250px;
}

.modqueue_controls {
	width: 270px;
	float: right;
	text-align: center;
	border: 1px solid #ccc;
	background: #fff;
	padding: 6px;
	font-weight: bold;
}

.modqueue_controls label {
	margin-right: 8px;
}

.label_radio_ignore,
.label_radio_delete,
.label_radio_approve {
	font-weight: bold;
}

.modqueue_meta {
	color: #444;
	font-size: 95%;
	margin-bottom: 8px;
}

.modqueue_mass {
	list-style: none;
	margin: 0;
	width: 150px;
	padding: 0;
}

.modqueue_mass li {
	margin-bottom: 4px;
	padding: 0;
}

.modqueue_mass li a {
	display: block;
	padding: 4px;
	border: 1px solid transparent;
}

.modqueue_mass li a:hover {
	background: #efefef;
	border: 1px solid #ccc;
	text-decoration: none;
}
		
		
		
		
		
		