	Tabs
	--------------------------------------------------
*/

.tabs .panel {padding: 10px;}

.tabs-menu {
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
    margin-top: -32px;
}

.tabs-menu li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 3px -1px 0;
	border: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	padding: 6px 12px;
	background-color: #ededed;
	cursor: pointer;
	position: relative;
    text-shadow: 1px 1px 0px #fff;
}

.tabs-menu .active-tab {
	background-color: #fff;
	border-bottom: 0;
	padding-bottom: 7px;
}
		
		
		
		
		