.thread_status {
	display: inline-block;
  	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.thread_status.dot_folder {
    position:relative;
}

.thread_status.dot_folder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 0;
	content: "\f114";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.dot_hotfolder {
    position:relative;
}

.thread_status.dot_hotfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -20px;
	content: "\f07b";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.dot_hotlockfolder {
    position:relative;
}

.thread_status.dot_hotlockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -40px;
	content: "\f023";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.dot_lockfolder {
    position:relative;
}

.thread_status.dot_lockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -60px;
	content: "\f023";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.dot_newfolder {
    position:relative;
}

.thread_status.dot_newfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -80px;
	content: "\f14a";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.dot_newhotfolder {
    position:relative;
}

.thread_status.dot_newhotfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -100px;
	content: "\f08a";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.dot_newhotlockfolder {
    position:relative;
}

.thread_status.dot_newhotlockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -120px;
	content: "\f08a";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.dot_newlockfolder {
    position:relative;
}

.thread_status.dot_newlockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -140px;
	content: "\f023";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.folder {
    position:relative;
}

.thread_status.folder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -160px;
	content: "\f115";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.hotfolder {
    position:relative;
}

.thread_status.hotfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -180px;
	content: "\f08a";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.hotlockfolder {
    position:relative;
}

.thread_status.hotlockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -200px;
	content: "\f004";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.lockfolder {
    position:relative;
}

.thread_status.lockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -220px;
	content: "\f023";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.movefolder {
    position:relative;
}

.thread_status.movefolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -240px;
	content: "\f079";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.newfolder {
    position:relative;
}

.thread_status.newfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -260px;
	content: "\f07c";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.newhotfolder {
    position:relative;
}

.thread_status.newhotfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -280px;
	content: "\f004";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.newhotlockfolder {
    position:relative;
}

.thread_status.newhotlockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -300px;
	content: "\f023";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}

.thread_status.newlockfolder {
    position:relative;
}

.thread_status.newlockfolder:before {
	color: #22242d;
	position: absolute;
	background-position: 0 -320px;
	content: "\f023";
	text-shadow: 1px 1px 0px #fff;
	font-family: FontAwesome;
	font-size: 16px;
}


		
		
		
		
		
		
		
		
		