.tipsy {
    position: absolute;
    padding: 5px;
    z-index: 100000;
}

.tipsy-inner {
  background:#333;
border:1px solid #333;
color:#fff;
-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
-moz-box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
  box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
	font-family: Source Sans Pro,Tahoma,Helvetica Neue,Arial,sans-serif;
	font-size: 13px;
	font-style: normal;
    max-width: 200px;
    padding: 5px 8px;
    text-align: center;

}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #161617;
}
  
.tipsy-arrow-n {
    border-bottom-color: #161617;
}

.tipsy-arrow-s {
    border-top-color: #161617;
}

.tipsy-arrow-e {
    border-left-color: #161617;
}

.tipsy-arrow-w {
    border-right-color: #161617;
}
  
.tipsy-n .tipsy-arrow {
    top: 0px; left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
		
		
		
		
		