.usercp_nav_item {
	display: block;
	padding: 1px 0 1px 0px;
}
.usercp_nav_composepm {
	background-position: 0 0;
}

.usercp_nav_pmfolder {
	background-position: 0 0px;
}

.usercp_nav_sub_pmfolder {
	padding-left: 10px;
	background-position: 0  0px;
}

.usercp_nav_trash_pmfolder {
	padding-left: 10px;
	background-position: 0  0px;
}

.usercp_nav_pmtracking {
	background-position: 0 0px;
}

.usercp_nav_pmfolders {
	background-position: 0 0px;
}

.usercp_nav_profile {
	background-position: 0 0px;
}

.usercp_nav_email {
	padding-left: 10px;
	background-position: 0  0px;
}

.usercp_nav_password {
	padding-left: 10px;
	background-position: 0 0px;
}

.usercp_nav_username {
	padding-left: 10px;
	background-position: 0  0px;
}

.usercp_nav_editsig {
	padding-left: 10px;
	background-position: 0 0px;
}

.usercp_nav_avatar {
	padding-left: 10px;
	background-position: 0  0px;
}

.usercp_nav_options {
	background-position: 0  0px;
}

.usercp_nav_usergroups {
	background-position: 0  0px;
}

.usercp_nav_editlists {
	background-position: 0  0px;
}

.usercp_nav_attachments {
	background-position: 0 0px;
}

.usercp_nav_drafts {
	background-position: 0  0px;
}

.usercp_nav_subscriptions {
	background-position: 0  0px;
}

.usercp_nav_fsubscriptions {
	background-position: 0  0px;
}

.usercp_nav_viewprofile {
	background-position: 0  0px;
}

.usercp_nav_home {
	background-position: 0  0px;
}

.usercp_notepad {
	width: 99%;
}

.usercp_container {
	margin: 5px;
	padding: 8px;
	border:1px solid #CCCCCC;
}

.pmspace {
	float: right;
	margin: -3px 5px;
}

.pmspace_container {
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	display: inline-block;
}

.pmspace_used {
	display: inline-block;
	color: #fff;
	margin: -1px;
}

.pmspace_used.low {
	border: 1px solid #0c5a01;
	background: #167203;
}

.pmspace_used.medium {
	background: #ff862b;
	border: 1px solid #d7611e;
}

.pmspace_used.high {
	background: #e73c3c;
	border: 1px solid #c00;
}

.pmspace_unused {
	display: inline-block;
}

.pmspace_text {
	padding: 1px 5px;
	display: inline-block;
}
		
		
		
		
		
		